/* Custom Font Face for Country Name */
@font-face {
    font-family: 'Luminari';
    font-style: normal;
    font-weight: normal;
    src: local('../fonts/Luminari'), url('../fonts/Luminari-Regular.woff') format('woff');
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    height: 100%;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 20px 10%;
    background-color: rgb(111, 42, 156);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
    font-weight: 500;
    box-shadow: 0px 0px 10px black;
    z-index: 1;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    margin: 0;
    display: flex;
    align-items: center;
    align-self: stretch;
}

.logo {
    font-weight: 700;
    font-size: 2.5em;
    text-shadow: 0px 0px 5px black;
}

.nav-links li {
    display: flex;
    font-size: 1em;
    align-self: stretch;
    align-items: center;
}

.nav-links li:not(:last-child)::after {
    content: "/";
    padding: 0px 10px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    display: flex;
    align-self: stretch;
    align-items: center;
}

.nav-links li a:hover {
    color: gray;
}

.nav-links li a:visited a:active {
    color: inherit;
}

.footer {
    background-color: rgb(111, 42, 156);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    text-shadow: 0px 0px 5px black;
    box-shadow: 0px 0px 10px black
}

.footer a {
    transition: all 0.3s ease 0s;
    text-decoration: none;
    color: white;
    text-decoration: underline;
}

.footer a:hover {
    color: gray;
}

.container {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    background-color: whitesmoke;
    align-items: center;
}

.content {
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
    width: 60%;
    height: 75%;
    background-color: #E0E0E0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.canvas_container {
    padding-top: 1em;
    display: flex;
    justify-content: center;
    width: 65%;
    height: 35%;
}

canvas {
    box-shadow: 0px 0px 10px black;
}

.details {
    display: flex;
    flex-direction: column;
    width: 65%;
}

.details p {
    align-self: center;
}

.country_name {
    font-size: 2.5em;
    font-family: 'Luminari', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    border-bottom: 1px solid black;
    margin-bottom: 0;
}

.seed {
    font-family: 'Consolas', serif;
    color: gray;
    font-style: italic;
}

.splash-text {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.generate_button {
    color: #ffffff;
    background-color: #6f2a9c;
    font-size: 19px;
    border: 1px solid #6f2a9c;
    border-radius: 15px;
    padding: 15px 50px;
    cursor: pointer;
    text-decoration: none;
    /* Prevent blue outline on click */
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.generate_button:hover {
    color: #ffffff;
    background-color: #5e2484;
}

.generate_button:active {
    color: #ffffff;
    background-color: #5e2484;
    outline: none;
    position: relative;
	top: 1px;
}

.generate_button:focus {
    outline: none !important;
}

.buttons {
    display: flex;
    flex-direction: column;
}

.buttons button {
    margin: 0.1em;
}