<!-- Begin Navbar -->
<header>
    <a class="logo">Nordic Flag Generator</a>
    <nav class="navbar">
        <ul class="nav-links">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </nav>
</header>
<!-- End Navbar -->