<%- include('partials/html_head.ejs') %>
<body>

    <%- include('partials/navbar.ejs') %>

    <!-- Begin Main Content -->
    <div class="container">
        <div class="content">
            <div class="about-text">
                <p class="about-title">About</p>
                <p class="splash-text">This webapp was dreamt up as an idea of a friend of mine, and was originally listed on their <a href="https://rtay.io/ideas/58" target="_blank">IDEAS database</a>.</p>
                <p class="splash-text">The Markov Chain used in this project was <b>not</b> written by me, all credit goes to <a href="https://reddit.com/u/ScratchOs" target="_blank">/u/ScratchOs</a> on Reddit.</p>
            </div>
        </div>
    </div>
    <!-- End Main Content -->


    <%- include('partials/footer.ejs') %>
</body>